.filter {
  max-width: 360px;
  max-height: 675px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 24px;
  margin: 70px 20px;
  border-radius: 24px;
  background: rgba(255, 255, 255, 1);
}

.title {
  color: rgba(71, 71, 71, 1);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding-top: 8px;
}

.link {
  color: rgba(85, 9, 204, 1);
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  padding-top: 8px;
}

.link:hover {
  text-decoration-line: underline;
}

.input {
  padding: 12px 24px 12px 24px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(232, 232, 232, 1);
  border-radius: 68px;
  background: rgba(255, 255, 255, 1);
  display: flex;
  gap: 8px;
}

/* filter-button */

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  box-sizing: border-box;
  border: 1px solid rgba(186, 186, 186, 1);
  border-radius: 12px;
}

.active {
  border: 1px solid rgba(106, 11, 255, 1);
  border-radius: 12px;
}

.button:hover {
  cursor: pointer;
  background: rgba(106, 11, 255, 1);
  color: rgba(255, 255, 255, 1);
}

/* filter input */

.icon {
  width: 20px;
  aspect-ratio: 1;
}
