.header {
  padding: 14px 20px;
  display: flex;
  justify-content: end;
  height: 72px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(232, 232, 232, 1);
  background: rgba(248, 248, 248, 1);
}

.header_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header_list li {
  cursor: pointer;
}

.user {
  width: 40px;
}
